body {
<<<<<<< HEAD
<<<<<<< HEAD
    background-image: url(/assets/resources/bg-image.jpg);
    margin: 0%;
    background-image: url("/assets/resources/bg-image.jpg");
=======
>>>>>>> 524e75335e679119d3a6efe22ac3e22232fdc9c1
    width: 100vw;
    height: 100vh;
    margin: 0mm;
}
