.contenedor-boton{
    position: absolute;
    display: flex;
    width: 100%;
    height: 68%;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    z-index: 2;
}


.carrito {
    width: 25%;
    height: 50px;
    background-color: #7E9357;
    border-radius: 20px;
    border-style: none;
}