.price {
    font-weight: bold;
    font-size: 35px;
    margin: 0;
}

.pbox {   
    font-size: 12px;
    width: 100%;
    text-align:  center;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.info-box h3 {
    margin-top: 40px;
    font-size: 12px;
    color: white;
    font-weight: 400;
    
}
.info-box h2 {
    margin: 0;
    font-size: 15px;
    font-weight: 400;
}

.info-box {
    height: 48%;
}