.img-header {
    position: absolute;
    opacity: 30%;
    object-fit: fill;
    max-width: 1050px;
    max-height: 850px;
}

.header-logo{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
    display: flex;
}

 .fondoTitulo {
    border-style: none;
    width: 68px;
    height: 88px;
    background-color: white;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: absolute;
} 

h1{
    font-size: 1.5em;
    font-family: 'Beth Ellen';
    text-align: center;
    line-height: 1px;
    z-index: 2;
    color: #527C1E;
    margin-top: 12%;
    margin-bottom: 0;
    margin-right: 6%;
}

p{
    text-align: center;
    font-family: 'Bhavuka';
    font-weight: 700;
    justify-content: center;
    z-index: 2;
    color: #527C1E;
    margin-top: 2%;
    margin-right: 3%;

}
