.info-box {
    position: relative;
    z-index: 2;
    color: #385C0A;
    display: inline-block;
    margin-left: 35px;
    margin-right: 35px;
    text-align: center;
    padding: 0% 5% 0% 5%;
    background-position: bottom;
    background: linear-gradient(179.89deg, rgba(255, 255, 255, 0) 19.61%, rgba(255, 255, 255, 0.5) 99.91%);
    box-shadow: inset 0px -18px 8px rgba(255, 255, 255, 0.25);
    border-radius: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.puntuacion {
    display: flex;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.botones_likecam {
    position: absolute;
    border-radius: 50%;
    padding: 2.5%;
    background: #FFFFFF;
    
}
