main {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 147vw;
}

.sombra {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(255, 254, 236, 0.89);
    width: 13rem;
    height: 13rem;
    left: 5.60rem;
    margin-top: 10%;
    filter: blur(30px);
}

.base {
    position: absolute;
    background-color: #E3C065;
    border-radius: 50%;
    width: 150vw;
    height: 35rem; 
    margin-top:50%;
    margin-left: -25%;
}

.slide{
    margin-top: 42%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.flecha {    
    border-radius: 50%;
    width: 41px;
    height: 41px;
    margin-left:5%;
    margin-right:5%;   
    background: #C1CDAA;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.izquierda img {
    margin: 25% 25%;
}

.derecha img {
    margin: 25% 25%;
}




.boton {
    margin-top: -175px;
    position: absolute;
    height: 70px;
    display: grid;
    margin-left: 213px;
    justify-content: space-between;
}

.foto {
    border-radius: 50%;
    height: 41px;
    width: 41px;
    border-style: solid;
    border-color:  white;    
    background-color: transparent; 
    margin-bottom:5px;
}

.like {
    border-radius: 50%;
    height: 41px;
    width: 41px;
    justify-content: center;
    border-style: solid;
    border-color:  white;    
    background-color: transparent; 
}   

.like img {
    width: 17px;
    margin-top: 15%;
    margin-left: 3%;
}


.foto img {
    width: 17px;
    margin-top: 15%;
    margin-left: 3%;
}