.sombra {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(255, 254, 236, 0.89);
    width: 14rem;
    height: 15rem;
    left: 5.37rem;
    top: -20%;
    margin-left: 10% ;
    filter: blur(30px);
}

.base {
    position: relative;
    background-color: #E3C065;
    border-radius: 50%;
    width: 33rem;
    height: 35rem;
    left: -15%;
  
    
    margin-top:45%;
}

.slide{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50%;
    left: 0%;
    right: 0%;

}

.flecha {    
    border-radius: 50%;
    width: 41px;
    height: 41px;
    margin-left: 15%;
    margin-right: 15%;   
    background: #C1CDAA;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    background-repeat: no-repeat;
}

.izquierda{
    background-image: url("../resources/Vector-izq.png");
    
}
.derecha{
    background-image: url(../resources/Vector-der.png);
 
}