.plato {
    margin-top: 60%;
    background-color: #FDF8E5;
    border-radius: 100%;
    width:  150px;
    height: 45px;
    position: absolute;
    opacity: 100%;
    z-index: 1;    
    box-shadow: 0px 7px 0px 0px #ECD69D;
}

.plantapic {
    z-index: 2;
    width: 280px;
    height: 280px;
    justify-items: center;    
}

.categories {
    position: relative;
    top: 10%;   
}

.product{
    display: flex;
    width: 100%;
    justify-content: center;
}