.plato {
    background-color: #FDF8E5;
    border-radius: 100%;
    width:  150px;
    height: 45px;
    position: absolute;
    margin-top: 200px;
    opacity: 100%;
    z-index: 1;    
    box-shadow: 0px 10px 0px 0px #278844;
}

.plantapic {
   
    position: absolute;
    z-index: 2;
    width: 280px;
    height: 280px;
    
}

.categories {
    position: relative;
    height: 20%;    
    align-items: center;
    display: flex;
}

.product{
    width: 100%;
    position: absolute;
   

}