.plato {
    margin-left: 30%;
    margin-top: 60%;
    background-color: #FDF8E5;
    border-radius: 100%;
    width:  150px;
    height: 45px;
    position: absolute;
    opacity: 100%;
    z-index: 1;    
    box-shadow: 0px 7px 0px 0px #ECD69D;
}

.plantapic {
    margin-left: 15%;
    position: absolute;
    z-index: 2;
    width: 280px;
    height: 280px;
    justify-items: center;    
}

.categories {
    position: relative;
    height: 25%;    
    align-items: center;    
}

.product{
    height: 550px;
    width: 100%;
    position: absolute;
    justify-content: center;
}